.messenger {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 3;
}

.ChatMenuInput {
  padding: 10px;
  margin: 0 auto;
  width: 80%;
}

.chatBox {
  flex: 9;
}

.chatBoxWrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 20px;
}
.chatMenuWrapper {
  height: 96.5%;
}

.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

#logoBackgorund {
  position: absolute;
  filter: opacity(5%);
  -webkit-filter: opacity(5%);
  transform: scale(3);
  left: 55%;
  top: 40%;
}

#ConversationBackgorund {
  position: absolute;
  filter: opacity(20%);
  -webkit-filter: opacity(20%);
  transform: scale(1.2);
  left: 50%;
  top: 25%;
}
#ConversationSpan {
  position: absolute;
  left: 49%;
  top: 65%;
}
