.message {
  display: flex;
  flex-direction: column;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  align-items: flex-end;
  background-color: rgba(16, 185, 129);
}
.messageText {
  background-color: rgba(209, 213, 219);
}
.messageTop {
  display: flex;
}
